Source: babl
Standards-Version: 4.7.3
Maintainer: Debian GNOME Extras Maintainers <pkg-gnome-extras-maintainers@lists.alioth.debian.org>
Uploaders: Jeremy Bícha <jbicha@ubuntu.com>,
Section: libs
Build-Depends: debhelper-compat (= 13),
               dh-sequence-gir,
               gobject-introspection (>= 1.80),
               liblcms2-dev,
               meson,
               pkgconf,
               valac,
               w3m,
Build-Depends-Indep: gi-docgen <!nodoc>,
Vcs-Browser: https://salsa.debian.org/gnome-team/extras/babl
Vcs-Git: https://salsa.debian.org/gnome-team/extras/babl.git
Homepage: https://gegl.org/babl/

Package: libbabl-0.1-0
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Dynamic, any to any, pixel format conversion library
 Babl is a dynamic, any to any, pixel format conversion library. It
 provides conversions between the myriad of buffer types images can be
 stored in. Babl doesn't only help with existing pixel formats, but
 also facilitates creation of new and uncommon ones.

Package: libbabl-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libbabl-0.1-0 (= ${binary:Version}),
         liblcms2-dev,
         ${gir:Depends},
         ${misc:Depends},
Provides: ${gir:Provides},
Description: Dynamic, any to any, pixel format conversion library (development files)
 Babl is a dynamic, any to any, pixel format conversion library. It
 provides conversions between the myriad of buffer types images can be
 stored in. Babl doesn't only help with existing pixel formats, but
 also facilitates creation of new and uncommon ones.
 .
 This package contains the development files.

Package: libbabl-doc
Architecture: all
Build-Profiles: <!nodoc>
Multi-Arch: foreign
Section: doc
Depends: ${misc:Depends},
Description: Dynamic, any to any, pixel format conversion library (documentation)
 Babl is a dynamic, any to any, pixel format conversion library. It
 provides conversions between the myriad of buffer types images can be
 stored in. Babl doesn't only help with existing pixel formats, but
 also facilitates creation of new and uncommon ones.
 .
 This package contains the API documentation.

Package: gir1.2-babl-0.1
Architecture: any
Multi-Arch: same
Section: introspection
Depends: ${gir:Depends},
         ${misc:Depends},
Description: GObject introspection data for Babl library
 Babl is a dynamic, any to any, pixel format conversion library. It
 provides conversions between the myriad of buffer types images can be
 stored in. Babl doesn't only help with existing pixel formats, but
 also facilitates creation of new and uncommon ones.
 .
 This package contains introspection data for the library.
 .
 This package can be used by other packages using the GIRepository format
 to generate dynamic bindings.
